[Unit]
 Description=Jetbrains TeamCity
 After=syslog.target
 After=network.target
 After=mariadb.service mysqld.service postgresql.service memcached.service redis.service
 
 [Service]
 Type=simple
 User=jetbrains
 Group=jetbrains
 WorkingDirectory=/home/jetbrains/app/teamcity/bin
 ExecStart=/home/jetbrains/app/teamcity/bin/teamcity-server.sh run
 Restart=always
 
 [Install]
 WantedBy=multi-user.target
 